@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header{
    z-index: 100;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.bg-color{
    background-color: $color-secundario;
}

.nombre{
    color: $color-principal;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-left: 2rem;
    margin-top: 5px;
    padding-top: 2px;
}

.nav-options{
    padding-right: 2rem;
    font-family: 'Rubik', sans-serif;
    &:hover{
        font-style: italic; 
        font-weight: 600;
    }
}

