$color-principal: #414756;
$color-secundario: #A5ABBD;
$color-txt-titulos: #F4F9FF;
$color-btn-estudios: #eff3f8;

/*JavaScript*/
$main-green: #000000 !default;
$main-green-rgb-015: rgba(0,0,0,0.2) !default;

/*Ingles*/
$main-yellow: #4570cf !default;
$main-yellow-rgb-015: rgba(69,112,207,0.2) !default;

/*Desarrollo Web*/
$main-red: #000000 !default;
$main-red-rgb-015: rgba(0,0,0,0.2) !default;

/*UPN COLOR*/
$main-blue: #fcbf00 !default;
$main-blue-rgb-015: rgba(252,191,0,0.2) !default;

