/*JavaScript*/
/*Ingles*/
/*Desarrollo Web*/
/*UPN COLOR*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.bg-color {
  background-color: #A5ABBD;
}

.nav-options {
  padding-right: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

.nav-options:hover {
  font-weight: 600;
}

.name-home {
  color: #414756;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  padding-left: 2rem;
  margin-top: 5px;
  padding-top: 2px;
  text-decoration: none;
}

.hero__section {
  height: 100vh;
  background-image: url("../../../assets/img/Hero_1.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-animation: bg-pan-top 55s both;
  animation: bg-pan-top 55s both;
}

@media (max-width: 768px) {
  .img-hero {
    height: 245px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .hero__section {
    height: 115vh;
  }
}

.titulo-descripcion, .subtitulo-descripcion {
  color: #F4F9FF;
  font-family: 'Rubik', sans-serif;
}

.download-cv {
  text-decoration: none;
  color: #414756;
}

.button-hero {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.button-hero:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-hero:after {
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #A5ABBD;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  text-decoration: none;
}

.button-hero:hover {
  color: #ffffff;
  border: 1px solid #A5ABBD;
}

.button-hero:hover:before {
  top: -35%;
  background-color: #A5ABBD;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-hero:hover:after {
  top: -45%;
  background-color: #A5ABBD;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__info-title {
  font-family: 'Rubik', sans-serif;
  color: #F4F9FF;
  font-weight: 600;
}

.about__info-name {
  font-family: 'Rubik', sans-serif;
  color: #F4F9FF;
  font-weight: 300;
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.divisor-hero {
  border: 1px solid white;
  height: 12px;
  -webkit-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/*Movimiento de fondo*/
@-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.estudios__section {
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.titulo-estudios, .titulo-certificaciones, .titulo-institucion, .subtitulo-institucion, .subtitulo-estado {
  color: #414756;
  font-family: 'Rubik', sans-serif;
}

.dark {
  background: #110f16;
}

.light {
  background: white;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.postcard {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
          box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
  font-family: 'Rubik', sans-serif;
  padding-left: 0.2rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 70px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  padding-left: 0.2rem;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  padding-left: 0.2rem;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.postcard .postcard__tagbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 150px;
}

@media screen and (min-width: 769px) {
  .postcard {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
  }
  .postcard .postcard__tagbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
    font-family: 'Rubik', sans-serif;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
    font-family: 'Rubik', sans-serif;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #000000;
  color: black;
}

.green .postcard__title:hover {
  color: #000000;
}

.green .postcard__bar {
  background-color: #000000;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0.2), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.2), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #fcbf00;
}

.blue .postcard__title:hover {
  color: #fcbf00;
}

.blue .postcard__bar {
  background-color: #fcbf00;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(252, 191, 0, 0.2), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(252, 191, 0, 0.2), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #eff3f8;
}

.red .postcard__title:hover {
  color: #000000;
}

.red .postcard__bar {
  background-color: #000000;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0.2), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.2), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #4570cf;
  color: black;
}

.yellow .postcard__title:hover {
  color: #4570cf;
}

.yellow .postcard__bar {
  background-color: #4570cf;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(69, 112, 207, 0.2), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(69, 112, 207, 0.2), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(0, 0, 0, 0.2), transparent 50%);
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 0, 0, 0.2), transparent 50%);
  }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(252, 191, 0, 0.2), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(252, 191, 0, 0.2), transparent 50%);
  }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(0, 0, 0, 0.2), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 0, 0, 0.2), transparent 50%);
  }
  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(69, 112, 207, 0.2), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(69, 112, 207, 0.2), transparent 50%);
  }
}

.estudios__section {
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.titulo-certificaciones {
  color: #414756;
  font-family: 'Rubik', sans-serif;
}

.light-certificaciones {
  background: white;
}

.card-certificaciones {
  background: white;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1;
  border-radius: 1rem;
}

.img-hover-zoom--colorize img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin-top: 20px;
  padding: 1px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.title-centro-estudios {
  font-family: 'Rubik', sans-serif;
}

.descripcion-estudio {
  color: #7a7a7a;
  font-family: 'Rubik', sans-serif;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fab {
  font-size: 1.5rem;
  color: darkgray;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.fab:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-certificaciones h5 {
  font-size: 1rem;
}

/* MEDIA */
@media only screen and (min-width: 1200px) {
  .img-hover-zoom--colorize img {
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
}

/*Boton flotante para wsp*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 30px;
  /*background-color:$color-principal;*/
  background-image: linear-gradient(135deg, #A5ABBD 0%, #414756 100%);
  color: #FFF;
  border-radius: 55px;
  text-align: center;
  overflow: hidden;
  font-size: 40px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
  z-index: 200;
}

.float:hover {
  background-image: linear-gradient(135deg, #A5ABBD 100%, #414756 0%);
  text-decoration: none;
  color: #414756;
}

.my-float {
  margin-top: 16px;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.modal-title {
  font-family: 'Rubik', sans-serif;
}

.button-modal {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #4f4f4f;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  color: black;
  z-index: 1;
}

.button-modal:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-modal:after {
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #A5ABBD;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  text-decoration: none;
}

.button-modal:hover {
  color: #ffffff;
  border: 1px solid #A5ABBD;
}

.button-modal:hover:before {
  top: -35%;
  background-color: #A5ABBD;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-modal:hover:after {
  top: -45%;
  background-color: #A5ABBD;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */